


.containerdetail{
  background-image: url("./fondo.png");
  background-position: bottom;
  background-size:cover;
  background-repeat: no-repeat;
  height: 50rem;
  width: 90rem;
}



.main_card {
  color: rgb(0, 0, 0);
  height: 100%;
  width: auto;
  margin: 30px auto;
  display: flex;
 width: 1200px;
  background-image: linear-gradient(
    to top,
    #b8a7a8 0%,
    #bdc3c7,
    #2c3e50 100%
  );
 
}

.card_left {
  width: 100%;
  border: 1px solid black;
}

.card_datails {
  width: 90%;
  padding: 30px;

}

.nombre {
  font-size: 60px;
  font-family: "Playfair Display SC";
  margin: 15px;
}

.card_right img {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}


.card_right {
  height: auto;
  width: 100%;
}

.card_cat {
  
 background-color: #ffa200;
  width: 100%;

  display: flex;
 
  justify-content:space-around;
  margin: 2px;
}

.rating .genres .fecha {
  color: #ffa200;
  padding: 10px;
  font-weight: bold;
  border-radius: 15px;
}

.rating {
  background: #6d6875;
  padding: 5px;
  color: yellow;
}

.description {
  font-weight: 50;
  line-height: 15px;
  font-size: 13px;
  margin: 25px;
  text-align: center;
  padding: 0 5px;
}

.plataformas {
  font-weight: 50;
  line-height: 15px;
  font-size: 13px;
  margin: 25px;
  text-align: center;
  padding: 0 5px;
}

.btn {
  color: #fff;
  text-decoration: none;
  margin-left: 15px;
  border: #fff;
  padding: 8px;
  width: 20%;
  outline: none;
  font-size: 16px;
  font-family: system-ui;


  background: black;
  border-radius: 8px;
  box-shadow: 0 0 3px  rgb(34, 196, 34), 0 0 6px  rgb(34, 196, 34),
    0 0 9px  rgb(34, 196, 34), 0 0 12px rgb(34, 196, 34),
    0 0 15px  rgb(34, 196, 34), 0 0 18px  rgb(34, 196, 34);
}
