.footer {
max-width: 100%;
display: flex;
flex-direction: column-reverse;
align-items: center;
justify-content: space-around;
background: #304352;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #d7d2cc, #304352);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #d7d2cc, #304352); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
height: 10rem;

  
}

.img{
margin: 10px;
width:40px;
height:40px;
}